*{
    margin: 0;
    padding: 0;
    background-color:#0A0A1A;
    color: #FFFFFF;
}
P{
    color: #BFA8E5;

}

.start{
    display: flex;
    height: 100vh;
    padding: 2px;
    margin: 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
h3{
    color:#EDEAFF;
}
#firstline{
    color: #EDEAFF;
}
#secondline{
    color: #7a4fb3;
}

#about{
    font-size: 20px ;
    color: #BFA8E5;
}
h2{
    font-size: 28px;
    color:#FFFFFF
}
#profilepic{
    
    height:400px;
    width: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius:50%;
    border: 4px solid #7C3AED;
    box-shadow: 0 0 15px #00BFFF;
}
.intro{
   flex: 3;
   width: 50%;
   padding-left: 20px;
}

.Experience{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
}
.experience-title{
    text-align: left;
    font-size: 28px;
    margin: 0%;
    padding-bottom: 10px;
    
}
.experience-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    border: 1px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 15px;
    padding:10px 10px 10px 10px;
}
   
.education{
    display: block;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
}
.edu-title{
    font-size: 32px;
    margin-bottom: 12px;
    text-align: left;
}
.edu-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 15px;
    text-align: left;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.timeline{
    display: block;
    white-space: nowrap;
    margin-right: 0px;
    text-align: left;
}

.Skills{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;
    padding: 80px 20px;
}
.Technical-skill-grid{
    display: grid;
    gap: 5px;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 12px;
    padding:10px;
    width: 100%;
    justify-content: start;
}
.Technical-skill-box{
    border: 1px solid blueviolet;
    border-radius: 15px;
    font-size: 18px;
    background-color: #111;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    justify-self: start;
}
.Technical-skill-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
}
.tools{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;
    padding: 80px 20px;
}
.tools-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
}
.tools-grid{
    display: grid;
    gap: 5px;
    margin-top:20px;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 12px;
    justify-content: start;
    width: 100%;
    padding: 10px;
   
}
.tools-box{
    background-color: #111;
    color:white;
    font-size: 18px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    justify-self: start;
}
.soft-skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin: 20px;
    padding: 80px 20px;
}
.soft-skills-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
}
.soft-skills-grid{
    display: grid;
    gap: 5px;
    margin-top:20px;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 12px;
    padding: 10px;
    justify-content: start;
    width: 100%;
}
.soft-skills-box{
    background-color: #111;
    color:white;
    font-size: 18px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    justify-self: start;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin: 20px;
    padding: 80px 20px;
}
.contact-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
}
.contact-grid{
    display: grid;
    gap: 20px;
    margin-top:20px;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid #7C3AED;
    box-shadow: 0 0 10px #7C3AED,0 0 15px #00BFFF;
    border-radius: 12px;
    padding: 10px;
    justify-content: start;
    justify-items: start;
    width: 100%;
}
.contact-box{
    background-color: #111;
    color:white;
    font-size: 18px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    

}
.contact-box strong{
    color: #EDEAFF;

}
.contact-box a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color:inherit;

}
.contact-box a:focus{
    outline:none;
}